{% extends "students/base.html" %}
{% load crispy_forms_tags %}
<div class="justify-content-center align-items-center mt-md-5 m-2" style="align-items: center;">
        <form class="card p-md-4 p-2" method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottem mb-4">
                Reset Your Password</legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info">Reset Password</button>
                </div>
            </fieldset>
        </form>
</div>
{% endblock content %}

